workflow-orchestration/module_2_hw/gcp_taxi_backfill_for_each_hw.yaml
id: gcp_taxi_backfill_for_each
namespace: zoomcamp
description: |
  Generates all taxi/year/month combinations via a Python script,
  then uses a single flat EachSequential loop to call gcp_taxi
  as a subflow for each combination.
  Total runs: 2 taxi types x 2 years x 12 months = 48 subflow executions.

tasks:
  # Step 1: Generate all combinations programmatically.
  # Outputs a list of dicts to vars.combinations, which the next task reads.
  # To add more years or taxi types, just extend the lists here.
  - id: generate_combinations
    type: io.kestra.plugin.scripts.python.Script
    beforeCommands:
      - pip install kestra -q
    script: |
      from kestra import Kestra

      taxis  = ["yellow", "green"]
      years  = ["2020"]
      months = ["01", "02", "03", "04", "05", "06", "07", "08", "09", "10", "11", "12"]

      combinations = [
          {"taxi": t, "year": y, "month": m}
          for t in taxis
          for y in years
          for m in months
      ]

      # Expose the list as a flow output so EachSequential can consume it
      Kestra.outputs({"combinations": combinations})

  # Step 2: Iterate over the flat combinations list.
  # Switch to EachParallel here if you want concurrent subflow execution.
  - id: for_each_combination
    type: io.kestra.plugin.core.flow.EachSequential
    value: "{{outputs.generate_combinations.vars.combinations}}"
    # tasks is a list — EachSequential runs each task in sequence per iteration.
    # taskrun.value is the current dict e.g. {taxi: yellow, year: 2019, month: 01}
    tasks:
      - id: load_data
        type: io.kestra.plugin.core.flow.Subflow
        namespace: zoomcamp
        flowId: gcp_taxi_hw
        inputs:
          taxi: "{{taskrun.value | jq('.taxi') | first}}"
          year: "{{taskrun.value | jq('.year') | first}}"
          month: "{{taskrun.value | jq('.month') | first}}"
        wait: true
        transmitFailed: true
