workflow-orchestration/workflow-testing/gcp_taxi_backfill_parallel.yaml
id: gcp_taxi_backfill_parallel
namespace: zoomcamp
description: |
  Generates all taxi/year/month combinations via a Python script,
  then uses EachParallel with a concurrencyLimit to call gcp_taxi
  as a subflow for each combination concurrently.
  Total runs: 2 taxi types x 2 years x 12 months = 48 subflow executions.
  concurrencyLimit: 4 means 4 subflows run at a time instead of all 48 at once.

tasks:
  # Step 1: Generate all combinations programmatically.
  # To add more years or taxi types, just extend the lists here.
  - id: generate_combinations
    type: io.kestra.plugin.scripts.python.Script
    script: |
      from kestra import Kestra

      taxis  = ["yellow", "green"]
      years  = ["2019", "2020"]
      months = ["01", "02", "03", "04", "05", "06", "07", "08", "09", "10", "11", "12"]

      combinations = [
          {"taxi": t, "year": y, "month": m}
          for t in taxis
          for y in years
          for m in months
      ]

      # Expose the list as a flow output so EachParallel can consume it
      Kestra.outputs({"combinations": combinations})

  # Step 2: Iterate over combinations in parallel with a concurrency cap.
  # concurrencyLimit: 4 means at most 4 subflows run simultaneously,
  # preventing GCP rate limits and quota exhaustion.
  # Increase the limit if GCP quotas allow; decrease if you see throttling errors.
  - id: for_each_combination
    type: io.kestra.plugin.core.flow.EachParallel
    concurrencyLimit: 4
    value: "{{outputs.generate_combinations.vars.combinations}}"
    tasks:

      # For each combination dict, call gcp_taxi with the matching inputs.
      # taskrun.value is the current dict e.g. {taxi: yellow, year: 2019, month: 01}
      - id: load_data
        type: io.kestra.plugin.core.flow.Subflow
        namespace: zoomcamp
        flowId: gcp_taxi
        inputs:
          taxi: "{{taskrun.value.taxi}}"
          year: "{{taskrun.value.year}}"
          month: "{{taskrun.value.month}}"
        wait: true           # wait for subflow to finish before freeing the concurrency slot
        transmitFailed: true # mark parent as failed if any subflow fails, but others keep running
