workflow-orchestration/workflow-testing/gcp_taxi_backfill_for_each.yaml
id: gcp_taxi_backfill_for_each
namespace: zoomcamp
description: |
  Generates all taxi/year/month combinations via a Python script,
  then uses a single flat EachSequential loop to call 08_gcp_taxi
  as a subflow for each combination.
  Total runs: 2 taxi types x 2 years x 12 months = 48 subflow executions.

tasks:
  # Step 1: Generate all combinations programmatically.
  # Outputs a list of dicts to vars.combinations, which the next task reads.
  # To add more years or taxi types, just extend the lists here.
  - id: generate_combinations
    type: io.kestra.plugin.scripts.python.Script
    script: |
      from kestra import Kestra

      taxis  = ["yellow", "green"]
      years  = ["2019", "2020"]
      months = ["01", "02", "03", "04", "05", "06", "07", "08", "09", "10", "11", "12"]

      combinations = [
          {"taxi": t, "year": y, "month": m}
          for t in taxis
          for y in years
          for m in months
      ]

      # Expose the list as a flow output so EachSequential can consume it
      Kestra.outputs({"combinations": combinations})

  # Step 2: Iterate over the flat combinations list.
  # Switch to EachParallel here if you want concurrent subflow execution.
  - id: for_each_combination
    type: io.kestra.plugin.core.flow.EachSequential
    value: "{{outputs.generate_combinations.vars.combinations}}"
    tasks:

      # For each combination dict, call 08_gcp_taxi with the matching inputs.
      # taskrun.value is the current dict e.g. {taxi: yellow, year: 2019, month: 01}
      - id: load_data
        type: io.kestra.plugin.core.flow.Subflow
        namespace: zoomcamp
        flowId: 08_gcp_taxi
        inputs:
          taxi: "{{taskrun.value.taxi}}"
          year: "{{taskrun.value.year}}"
          month: "{{taskrun.value.month}}"
        wait: true          # wait for subflow to finish before starting next combination
        transmitFailed: true  # fail the parent flow if any subflow fails
